@import '//cdn.jsdelivr.net/npm/font-kopub@1.0';

body {
  margin: 0;
  font-family: 'KoPub Dotum', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: white;
  background-color: #282c34;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  color: white;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.apexcharts-text {
  fill: white;
}

.apexcharts-menu-item {
  color: black;
}

.apexcharts-tooltip-candlestick > * {
  color: black;
}

.apexcharts-title-text {
  fill: white;
}
